---
import { LinkButton, Code, Card } from '@astrojs/starlight/components';
---

<div class="try-it-out-container">
    <Card title="Try it out now" icon="download">
        <p>Get started by running the following command in your terminal:</p>
        <Code
            lang="bash"
            code="bash <(curl -Ls https://raw.githubusercontent.com/eGamesAPI/remnawave-reverse-proxy/refs/heads/main/install_remnawave.sh)"
        />
        <div class="more-info">
            <p>
                Feel brave and ready to install? If not, we've got step-by-step instructions.
            </p>
            <LinkButton href="/installation/requirements" icon="document">
                View Instructions
            </LinkButton>
        </div>
    </Card>
</div>

<style>
    .try-it-out-container {
        padding-top: 4rem;
        max-width: 49rem;
        margin: auto;
    }

    .more-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        margin-top: 2rem;
        padding-top: 1.5rem;
        border-top: 1px solid var(--sl-color-gray-5);
    }

    .more-info p {
        font-size: var(--sl-text-lg);
        margin: 0;
    }

    .sl-card > p {
        text-align: center;
        font-size: var(--sl-text-xl);
        margin-bottom: 1.5rem;
    }

    .sl-card h3 {
        background-color: var(--sl-color-accent-low);
        padding: 0.75rem 1.5rem;
        margin: -1.5rem -1.5rem 1.5rem;
    }
</style>